/target/
/target-eclipse/
/hermesUpload/
/integrationUpload/
*.iml
/.idea
thumbs.db
/web-app/upload-testsensors/
/web-app/upload-testsamples/
/web-app/upload-testvms/
/web-app/upload-test/
.settings
/web-app/images/apple-touch-icon-retina.png
/web-app/images/apple-touch-icon.png
/web-app/images/grails_logo.png
/web-app/images/springsource.png
/web-app/images/spinner.gif
/web-app/images/favicon.ico
/web-app/images/skin/
/web-app/css/main.css
/web-app/css/errors.css
/web-app/css/mobile.css
foo.txt